.header-main {
    width: 100%;
    height: 60px;
    background: #000;
}

*{
    color : green;
}

li {
    color : blue;
}

#hi{
  color: brown;
}

.special{
    color: pink;
}

.red{
    width: 100px;
    height: 100px;
    background: yellow;
}
button:hover{
    color: red;
    background: bisque;
}

a[href]{
    color: purple;
}

a[href^="naver"]{  /*start naver*/
    color: red;
}

a[href$="net"]{  /*end net*/
    color: orange;
}

.blue{
    background: aqua;
    width: 100px;
    height: 100px;
    padding: 20px 20px 90px 60px; /*Clockwise*/
    /*padding: 20px 60px; !*un&down , left&right*!*/
    border : 2px dashed red;

}